<%= simple_form_for [chat, message] do |f| %>
  <div class="form-group"> <label class="form-label">Em que posso ajudar? *</label>

    <div class="input-group">
      <%= f.input_field :content,
                        class: 'form-control',
                        placeholder: "Digite aqui a sua pergunta",
                        required: true %>

      <%= f.button :submit, 'Enviar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
