<% if notice.present? || alert.present? %>
  <div class="flash-wrap">
    <% if notice.present? %>
      <div class="flash flash--notice">
        <span><%= notice %></span>
        <button class="flash-close" onclick="this.parentElement.remove()">×</button>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="flash flash--alert">
        <span><%= alert %></span>
        <button class="flash-close" onclick="this.parentElement.remove()">×</button>
      </div>
    <% end %>
  </div>
<% end %>
