<div class="role-selection">
  <h1>Como você deseja acessar?</h1>

  <%= link_to "Sou Familiar (Admin)", patients_path, class: "btn btn-primary" %>

  <%= button_to "Sou um cuidador", caregivers_path, method: :post, class: "btn btn-primary" %>

</div>
