<%= link_to "⬅ Voltar ao início", root_path, class: "btn btn-link" %>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= link_to patient.name, caregiver_patient_path(patient) %>
    </li>
  <% end %>
</ul>
